In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

In [4]:
maestro_cm08_201901_202103 = "../../../datos/CM08/maestro_cm08_201901_202103.csv"
maestro_cm08_dt = pd.read_csv(maestro_cm08_201901_202103)

maestro_cm08_dt['fecha'] = pd.to_datetime(maestro_cm08_dt['fecha'], format='%Y%m%d')

print(maestro_cm08_dt.head())

maestro_cm08_dt.describe()

     visitantes          museo categoria                      subcategoria  \
0  Presenciales  Casa de Colón  Usuarios                   Público general
1  Presenciales  Casa de Colón  Usuarios  Colectivos educativos y sociales
2  Presenciales  Casa de Colón  Usuarios                       Actividades
3  Presenciales  Casa de Colón  Usuarios            Bibliotecas y archivos
4  Presenciales  Casa de Colón  Usuarios           Exposiciones temporales

     valor      fecha
0  11042.0 2019-01-31
1    787.0 2019-01-31
2   2377.0 2019-01-31
3    168.0 2019-01-31
4      0.0 2019-01-31

              valor
count   8094.000000
mean     543.972078
std     1425.181572
min        0.000000
25%        0.000000
50%       24.000000
75%      330.000000
max    17953.000000

In [5]:
maestro_cm08_filtered = maestro_cm08_dt[maestro_cm08_dt['valor'] != 0]
print(maestro_cm08_filtered.head(10))

maestro_cm08_filtered.describe()

      visitantes          museo    categoria  \
0   Presenciales  Casa de Colón     Usuarios
1   Presenciales  Casa de Colón     Usuarios
2   Presenciales  Casa de Colón     Usuarios
3   Presenciales  Casa de Colón     Usuarios
5   Presenciales  Casa de Colón         Sexo
6   Presenciales  Casa de Colón         Sexo
8   Presenciales  Casa de Colón  Procedencia
10  Presenciales  Casa de Colón  Procedencia
11  Presenciales  Casa de Colón  Procedencia
13  Presenciales  Casa de Colón       Idioma

                        subcategoria    valor      fecha
0                    Público general  11042.0 2019-01-31
1   Colectivos educativos y sociales    787.0 2019-01-31
2                        Actividades   2377.0 2019-01-31
3             Bibliotecas y archivos    168.0 2019-01-31
5                          Masculino   6999.0 2019-01-31
6                           Femenino   7375.0 2019-01-31
8                       Gran Canaria   3800.0 2019-01-31
10               Resto de nacionales   1521.0 2019-01-31
11                        Extranjero   9053.0 2019-01-31
13                           Español   5321.0 2019-01-31

              valor
count   4753.000000
mean     926.343362
std     1762.072954
min        1.000000
25%       52.000000
50%      228.000000
75%      899.000000
max    17953.000000

In [6]:
print('Por tipo de visitantes: ')
print(maestro_cm08_filtered.groupby(['visitantes']).sum())

print('Por museo: ')
print(maestro_cm08_filtered.groupby(['museo']).sum())

print('Por categoría: ')
print(maestro_cm08_filtered.groupby(['categoria']).sum())

print('Por subcategoría: ')
print(maestro_cm08_filtered.groupby(['subcategoria']).sum())

Por tipo de visitantes:
                  valor
visitantes
Online        1861088.0
Presenciales  2541822.0
Por museo:
                                valor
museo
Casa de Colón               1907447.0
Casa-Museo Antonio Padrón    506620.0
Casa-Museo León y Castillo   149188.0
Casa-Museo Pérez Galdós      677493.0
Casa-Museo Tomás Morales     182558.0
Museo y P.A. Cueva Pintada   979604.0
Por categoría:
                valor
categoria
Edad         880758.0
Idioma       877782.0
Procedencia  880758.0
Sexo         880758.0
Usuarios     882854.0
Por subcategoría:
                                      valor
subcategoria
18-24                               13708.0
25-34                               12456.0
35-44                               56578.0
45-54                               16841.0
55-64                               14329.0
<18                                 21286.0
>65                                 22174.0
Actividades                         72226.0
Alemán                              33679.0
Bibliotecas y archivos               6550.0
Colectivos educativos y sociales    80204.0
Español                            463481.0
Exposiciones temporales             47871.0
Extranjero                         175216.0
Femenino                           291557.0
Francés                             26105.0
Gran Canaria                       299948.0
Inglés                              31825.0
Italiano                            13483.0
Masculino                          248733.0
NS/NC                             1300481.0
Otros                              309209.0
Público general                    301515.0
Resto de Canarias                   39016.0
Resto de nacionales                129951.0
Web corporativa                    374488.0