In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

In [3]:
evolucion_cm22 = "../../datos/CM22/maestro_cm22.csv"
evolucion_cm22 = pd.read_csv(evolucion_cm22)
evolucion_cm22.describe()

         Unnamed: 0          anyo           mes         valor
count  41171.000000  41171.000000  41171.000000  41171.000000
mean   20585.000000   2015.872240      7.538656    166.942304
std    11885.188303      2.838996      3.387869   1140.441467
min        0.000000   2011.000000      3.000000      0.000000
25%    10292.500000   2013.000000      3.000000      8.000000
50%    20585.000000   2016.000000      9.000000     18.800000
75%    30877.500000   2018.000000     12.000000     69.600000
max    41170.000000   2021.000000     12.000000  23491.900000

In [4]:
evolucion_cm22

,Unnamed: 0,provincia,actividad,anyo,mes,valor,Indicador
0,0,Total Nacional,Total CNAE,2021,3,23215.5,Activos
1,1,Total Nacional,Total CNAE,2020,12,22860.7,Activos
2,2,Total Nacional,Total CNAE,2020,9,23064.1,Activos
3,3,Total Nacional,Total CNAE,2020,6,22899.8,Activos
4,4,Total Nacional,Total CNAE,2020,3,21975.2,Activos
...,...,...,...,...,...,...,...
41166,41166,Melilla,Servicios,2012,9,90.7,Distribución Ocupados
41167,41167,Melilla,Servicios,2012,6,90.7,Distribución Ocupados
41168,41168,Melilla,Servicios,2012,3,89.4,Distribución Ocupados
41169,41169,Melilla,Servicios,2011,12,94.5,Distribución Ocupados
41170,41170,Melilla,Servicios,2011,9,93.2,Distribución Ocupados

In [5]:
evolucion_cm22.groupby(['actividad', 'Indicador']).sum()

                                                                          Unnamed: 0  \
actividad                                          Indicador
Agricultura                                        Activos                  12695514
                                                   Distribución Activos     34962435
                                                   Distribución Ocupados    74174020
                                                   Ocupados                 55585323
Construcción                                       Activos                  12856740
                                                   Distribución Activos     36312081
                                                   Distribución Ocupados    76711245
                                                   Ocupados                 57645237
Industria                                          Activos                  12776127
                                                   Distribución Activos     36231468
                                                   Distribución Ocupados    76630632
                                                   Ocupados                 57564624
Parados que buscan primer empleo o han dejado s... Activos                  13017966
                                                   Distribución Activos     36473307
Servicios                                          Activos                  12937353
                                                   Distribución Activos     36392694
                                                   Distribución Ocupados    76791858
                                                   Ocupados                 57725850
Total CNAE                                         Activos                  12614901
                                                   Ocupados                 57405660

                                                                             anyo  \
actividad                                          Indicador
Agricultura                                        Activos                4166807
                                                   Distribución Activos   4059967
                                                   Distribución Ocupados  4049895
                                                   Ocupados               4049895
Construcción                                       Activos                4166807
                                                   Distribución Activos   4166807
                                                   Distribución Ocupados  4166807
                                                   Ocupados               4166807
Industria                                          Activos                4166807
                                                   Distribución Activos   4166807
                                                   Distribución Ocupados  4166807
                                                   Ocupados               4166807
Parados que buscan primer empleo o han dejado s... Activos                4166807
                                                   Distribución Activos   4166807
Servicios                                          Activos                4166807
                                                   Distribución Activos   4166807
                                                   Distribución Ocupados  4166807
                                                   Ocupados               4166807
Total CNAE                                         Activos                4166807
                                                   Ocupados               4166807

                                                                            mes  \
actividad                                          Indicador
Agricultura                                        Activos                15582
                                                   Distribución Activos   15186
                                                   Distribución Ocupados  15147
                                                   Ocupados               15147
Construcción                                       Activos                15582
                                                   Distribución Activos   15582
                                                   Distribución Ocupados  15582
                                                   Ocupados               15582
Industria                                          Activos                15582
                                                   Distribución Activos   15582
                                                   Distribución Ocupados  15582
                                                   Ocupados               15582
Parados que buscan primer empleo o han dejado s... Activos                15582
                                                   Distribución Activos   15582
Servicios                                          Activos                15582
                                                   Distribución Activos   15582
                                                   Distribución Ocupados  15582
                                                   Ocupados               15582
Total CNAE                                         Activos                15582
                                                   Ocupados               15582

                                                                              valor
actividad                                          Indicador
Agricultura                                        Activos                  77989.6
                                                   Distribución Activos     13473.1
                                                   Distribución Ocupados    13706.2
                                                   Ocupados                 60197.2
Construcción                                       Activos                 106720.4
                                                   Distribución Activos     12875.0
                                                   Distribución Ocupados    13576.1
                                                   Ocupados                 89384.2
Industria                                          Activos                 216345.1
                                                   Distribución Activos     26638.8
                                                   Distribución Ocupados    30166.4
                                                   Ocupados                200110.6
Parados que buscan primer empleo o han dejado s... Activos                 193476.5
                                                   Distribución Activos     22302.6
Servicios                                          Activos                1197633.0
                                                   Distribución Activos    131412.7
                                                   Distribución Ocupados   149248.3
                                                   Ocupados               1088033.1
Total CNAE                                         Activos                1792170.2
                                                   Ocupados               1437722.5