In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

# entradas y salidas por puestra

In [2]:
maestro_cm_26_2 = "../../../datos/CM26_2/maestro_cm_26_2.csv"
maestro_cm_26_2 = pd.read_csv(maestro_cm_26_2)
maestro_cm_26_2.describe()

,anyo,mes,valor,valorPrev,fecha,ultima_fecha
count,37296.000000,37296.000000,37296.000000,25200.000000,3.729600e+04,37296.0
mean,2019.054054,6.351351,670.741313,635.409524,2.019121e+07,20210131.0
std,0.868248,3.520000,1815.400785,1643.429830,8.656306e+03,0.0
min,2018.000000,1.000000,0.000000,0.000000,2.018013e+07,20210131.0
25%,2018.000000,3.000000,0.000000,0.000000,2.018103e+07,20210131.0
50%,2019.000000,6.000000,8.000000,8.000000,2.019073e+07,20210131.0
75%,2020.000000,9.000000,408.000000,400.000000,2.020043e+07,20210131.0
max,2021.000000,12.000000,19312.000000,18808.000000,2.021013e+07,20210131.0

In [3]:
botes_mes = maestro_cm_26_2.groupby(['isla','indicador', 'mes'])['valor'].describe()
botes_mes

                         count        mean         std  min  25%    50%  \
isla      indicador mes
El Hierro Entradas  1    192.0    0.000000    0.000000  0.0  0.0    0.0
                    2    144.0    0.000000    0.000000  0.0  0.0    0.0
                    3    144.0    0.000000    0.000000  0.0  0.0    0.0
                    4    144.0    0.000000    0.000000  0.0  0.0    0.0
                    5    144.0    0.000000    0.000000  0.0  0.0    0.0
...                        ...         ...         ...  ...  ...    ...
Tenerife  Salidas   8    144.0  231.333333  325.233429  0.0  8.0   44.0
                    9    144.0  301.666667  414.571917  0.0  0.0   56.0
                    10   144.0  384.666667  515.791469  0.0  8.0   92.0
                    11   144.0  464.000000  628.319993  0.0  6.0  180.0
                    12   144.0  464.666667  603.975269  0.0  8.0  204.0

                           75%     max
isla      indicador mes
El Hierro Entradas  1      0.0     0.0
                    2      0.0     0.0
                    3      0.0     0.0
                    4      0.0     0.0
                    5      0.0     0.0
...                        ...     ...
Tenerife  Salidas   8    334.0  1288.0
                    9    516.0  1584.0
                    10   544.0  1592.0
                    11   538.0  2208.0
                    12   812.0  2216.0

[252 rows x 8 columns]

In [4]:
botes_mes.nlargest(10,'mean')

                                     count         mean          std  min  \
isla         indicador          mes
Tenerife     Navegación costera 11   144.0  3386.333333  4695.259362  0.0
Gran Canaria Navegación costera 11   144.0  3290.666667  5155.781785  0.0
Tenerife     Navegación costera 10   144.0  3214.333333  4503.222219  0.0
                                12   144.0  3207.000000  4445.481591  0.0
                                9    144.0  3112.333333  4431.607958  0.0
                                8    144.0  2973.000000  4243.222618  0.0
                                6    144.0  2910.333333  4197.619985  0.0
                                5    144.0  2804.666667  4021.091526  0.0
                                1    192.0  2801.500000  3971.926754  0.0
Gran Canaria Navegación costera 10   144.0  2793.333333  4639.479498  0.0

                                       25%    50%     75%      max
isla         indicador          mes
Tenerife     Navegación costera 11   170.0  572.0  4390.0  15352.0
Gran Canaria Navegación costera 11    32.0  728.0  4432.0  19312.0
Tenerife     Navegación costera 10   116.0  496.0  4070.0  13720.0
                                12   152.0  504.0  4114.0  13720.0
                                9     92.0  480.0  3876.0  13032.0
                                8     96.0  476.0  3854.0  12480.0
                                6     78.0  488.0  3736.0  12376.0
                                5     70.0  380.0  3618.0  12072.0
                                1     80.0  496.0  3618.0  12632.0
Gran Canaria Navegación costera 10    24.0  532.0  3722.0  18160.0