In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

# Datos barcos/puertos

In [4]:
maestro_cm_26_1 = "../../../datos/CM26_1/maestro_cm_26_1.csv"
maestro_cm_26_1 = pd.read_csv(maestro_cm_26_1)
maestro_cm_26_1.describe()

,anyo,mes,valor,valorPrev,fecha,ultima_fecha
count,24924.000000,24924.000000,2.025000e+04,1.859400e+04,2.492400e+04,24924.0
mean,2012.238325,6.401300,4.445784e+04,4.626412e+04,2.012305e+07,20210731.0
std,6.312377,3.447453,1.003303e+05,1.027143e+05,6.311100e+04,0.0
min,1998.000000,1.000000,0.000000e+00,0.000000e+00,1.998013e+07,20210731.0
25%,2008.000000,3.000000,0.000000e+00,0.000000e+00,2.008103e+07,20210731.0
50%,2014.000000,6.000000,5.240000e+03,5.955000e+03,2.014013e+07,20210731.0
75%,2017.000000,9.000000,4.195100e+04,4.488575e+04,2.017103e+07,20210731.0
max,2021.000000,12.000000,1.023477e+06,1.023477e+06,2.021073e+07,20210731.0

In [5]:
Puertos_por_mes = maestro_cm_26_1.groupby(['mes','puerto','indicador'])['valor'].describe()
Puertos_por_mes

                                            count          mean          std  \
mes puerto      indicador
1   Arguineguín Otros pasajeros              11.0   4171.090909  2811.107414
                Pasajeros cruceros            6.0      0.000000     0.000000
                Pasajeros líneas regulares   11.0      0.000000     0.000000
                Pasajeros totales            11.0   4171.090909  2811.107414
                Regulares y Cruceros          6.0      0.000000     0.000000
...                                           ...           ...          ...
12  Órzola      Otros pasajeros              10.0    613.600000   671.726995
                Pasajeros cruceros            5.0      0.000000     0.000000
                Pasajeros líneas regulares   10.0  20621.100000  5829.557853
                Pasajeros totales            10.0  21234.700000  5350.039212
                Regulares y Cruceros          5.0  25292.600000  3417.843589

                                                min       25%      50%  \
mes puerto      indicador
1   Arguineguín Otros pasajeros                 0.0   2163.00   5320.0
                Pasajeros cruceros              0.0      0.00      0.0
                Pasajeros líneas regulares      0.0      0.00      0.0
                Pasajeros totales               0.0   2163.00   5320.0
                Regulares y Cruceros            0.0      0.00      0.0
...                                             ...       ...      ...
12  Órzola      Otros pasajeros                 0.0      0.00    448.5
                Pasajeros cruceros              0.0      0.00      0.0
                Pasajeros líneas regulares  12976.0  15202.25  20714.0
                Pasajeros totales           13873.0  16552.50  21407.5
                Regulares y Cruceros        21322.0  22060.00  26918.0

                                                75%      max
mes puerto      indicador
1   Arguineguín Otros pasajeros              6240.0   7056.0
                Pasajeros cruceros              0.0      0.0
                Pasajeros líneas regulares      0.0      0.0
                Pasajeros totales            6240.0   7056.0
                Regulares y Cruceros            0.0      0.0
...                                             ...      ...
12  Órzola      Otros pasajeros              1283.0   1489.0
                Pasajeros cruceros              0.0      0.0
                Pasajeros líneas regulares  25703.5  29157.0
                Pasajeros totales           25703.5  29157.0
                Regulares y Cruceros        27006.0  29157.0

[1656 rows x 8 columns]

In [6]:
Puertos_por_mes.nlargest(10,'mean')

                                                  count           mean  \
mes puerto            indicador
8   Canarias (Estado) Regulares y Cruceros         23.0  701053.565217
                      Pasajeros líneas regulares   23.0  679688.130435
12  Canarias (Estado) Regulares y Cruceros         23.0  627956.869565
8   Canarias          Regulares y Cruceros          5.0  584149.200000
3   Canarias (Estado) Regulares y Cruceros         24.0  584041.375000
7   Canarias (Estado) Regulares y Cruceros         24.0  578996.750000
11  Canarias (Estado) Regulares y Cruceros         23.0  575581.782609
8   Canarias          Pasajeros totales            10.0  574752.500000
7   Canarias (Estado) Pasajeros líneas regulares   24.0  562825.541667
10  Canarias (Estado) Regulares y Cruceros         23.0  560768.869565

                                                            std       min  \
mes puerto            indicador
8   Canarias (Estado) Regulares y Cruceros         70162.787781  574443.0
                      Pasajeros líneas regulares   67753.701356  563020.0
12  Canarias (Estado) Regulares y Cruceros        178634.514111  382709.0
8   Canarias          Regulares y Cruceros         76058.771198  473058.0
3   Canarias (Estado) Regulares y Cruceros        165463.706512  333657.0
7   Canarias (Estado) Regulares y Cruceros         71324.968850  504384.0
11  Canarias (Estado) Regulares y Cruceros        142945.150587  331113.0
8   Canarias          Pasajeros totales           112037.598135  404691.0
7   Canarias (Estado) Pasajeros líneas regulares   65043.695104  493355.0
10  Canarias (Estado) Regulares y Cruceros        106357.476872  383859.0

                                                        25%       50%  \
mes puerto            indicador
8   Canarias (Estado) Regulares y Cruceros        649188.00  691774.0
                      Pasajeros líneas regulares  632396.00  673758.0
12  Canarias (Estado) Regulares y Cruceros        486851.50  561595.0
8   Canarias          Regulares y Cruceros        536163.00  630885.0
3   Canarias (Estado) Regulares y Cruceros        468993.25  534805.5
7   Canarias (Estado) Regulares y Cruceros        527487.00  559102.5
11  Canarias (Estado) Regulares y Cruceros        470684.00  543394.0
8   Canarias          Pasajeros totales           493007.50  585610.0
7   Canarias (Estado) Pasajeros líneas regulares  517947.00  538101.0
10  Canarias (Estado) Regulares y Cruceros        476610.50  553093.0

                                                       75%        max
mes puerto            indicador
8   Canarias (Estado) Regulares y Cruceros        734920.5   864064.0
                      Pasajeros líneas regulares  710097.5   843539.0
12  Canarias (Estado) Regulares y Cruceros        749985.0  1023477.0
8   Canarias          Regulares y Cruceros        639525.0   641115.0
3   Canarias (Estado) Regulares y Cruceros        679550.0  1003899.0
7   Canarias (Estado) Regulares y Cruceros        596567.0   735767.0
11  Canarias (Estado) Regulares y Cruceros        658936.0   941272.0
8   Canarias          Pasajeros totales           674538.0   714126.0
7   Canarias (Estado) Pasajeros líneas regulares  587326.5   711128.0
10  Canarias (Estado) Regulares y Cruceros        620017.5   816428.0