In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import functools

In [4]:
listAllMasterCM3Files = glob.glob('../../datos/CM03/maestro_cm_03_*.csv')
combined_cm03_dt = pd.concat([pd.read_csv(f) for f in listAllMasterCM3Files])

print(combined_cm03_dt.head())

combined_cm03_dt.describe()

           indicador           dimension valor_dimension      isla  anyo  \
0  Gasto por turista  Antelación reserva           Total  Canarias  2021
1  Gasto por turista  Antelación reserva           Total  Canarias  2020
2  Gasto por turista  Antelación reserva           Total  Canarias  2020
3  Gasto por turista  Antelación reserva           Total  Canarias  2020
4  Gasto por turista  Antelación reserva           Total  Canarias  2020

   trimestre    valor  valorPrev     fecha  ultima_fecha concepto  \
0          1  1314.86    1233.03  20210331      20210331      NaN
1          4  1059.77    1185.34  20201231      20210331      NaN
2          3  1030.09    1285.54  20200930      20210331      NaN
3          2      NaN    1088.81  20200630      20210331      NaN
4          1  1233.03     999.71  20200331      20210331      NaN

  pais_residencia municipio
0             NaN       NaN
1             NaN       NaN
2             NaN       NaN
3             NaN       NaN
4             NaN       NaN

,anyo,trimestre,valor,valorPrev,fecha,ultima_fecha
count,73294.000000,73294.000000,6.376000e+04,4.764600e+04,7.329400e+04,73294.0
mean,2019.153846,2.384615,7.148314e+06,9.063794e+06,2.019228e+07,20210331.0
std,0.948378,1.146136,7.741836e+07,8.905830e+07,9.422502e+03,0.0
min,2018.000000,1.000000,-6.490900e+02,-6.336600e+02,2.018033e+07,20210331.0
25%,2018.000000,1.000000,1.200750e+01,1.347250e+01,2.018123e+07,20210331.0
50%,2019.000000,2.000000,1.138100e+02,1.186150e+02,2.019093e+07,20210331.0
75%,2020.000000,3.000000,8.945000e+02,9.125600e+02,2.020063e+07,20210331.0
max,2021.000000,4.000000,4.263615e+09,4.263615e+09,2.021033e+07,20210331.0

In [5]:
combined_cm03_dt[combined_cm03_dt.duplicated(keep=False)]

Empty DataFrame
Columns: [indicador, dimension, valor_dimension, isla, anyo, trimestre, valor, valorPrev, fecha, ultima_fecha, concepto, pais_residencia, municipio]
Index: []

In [6]:
combined_cm03_dt.groupby(['indicador', 'dimension', 'valor_dimension', 'municipio', 'anyo']).mean()

                                                                            trimestre  \
indicador               dimension           valor_dimension municipio anyo
Gasto por turista       Edad                De 16 a 44 años Adeje     2018        2.5
                                                                      2019        2.5
                                                                      2020        2.5
                                                                      2021        1.0
                                                            Antigua   2018        2.5
...                                                                               ...
Gasto por turista y día Tipo de alojamiento Total           Tías      2021        1.0
                                                            Yaiza     2018        2.5
                                                                      2019        2.5
                                                                      2020        2.5
                                                                      2021        1.0

                                                                                  valor  \
indicador               dimension           valor_dimension municipio anyo
Gasto por turista       Edad                De 16 a 44 años Adeje     2018  1279.772500
                                                                      2019  1170.105000
                                                                      2020  1129.543333
                                                                      2021  1278.710000
                                                            Antigua   2018  1097.060000
...                                                                                 ...
Gasto por turista y día Tipo de alojamiento Total           Tías      2021   130.280000
                                                            Yaiza     2018   159.530000
                                                                      2019   152.820000
                                                                      2020   148.280000
                                                                      2021   152.900000

                                                                            valorPrev  \
indicador               dimension           valor_dimension municipio anyo
Gasto por turista       Edad                De 16 a 44 años Adeje     2018        NaN
                                                                      2019  1279.7725
                                                                      2020  1170.1050
                                                                      2021  1248.7700
                                                            Antigua   2018        NaN
...                                                                               ...
Gasto por turista y día Tipo de alojamiento Total           Tías      2021   135.3300
                                                            Yaiza     2018        NaN
                                                                      2019   159.5300
                                                                      2020   152.8200
                                                                      2021   169.9500

                                                                                 fecha  \
indicador               dimension           valor_dimension municipio anyo
Gasto por turista       Edad                De 16 a 44 años Adeje     2018  20180780.5
                                                                      2019  20190780.5
                                                                      2020  20200780.5
                                                                      2021  20210331.0
                                                            Antigua   2018  20180780.5
...                                                                                ...
Gasto por turista y día Tipo de alojamiento Total           Tías      2021  20210331.0
                                                            Yaiza     2018  20180780.5
                                                                      2019  20190780.5
                                                                      2020  20200780.5
                                                                      2021  20210331.0

                                                                            ultima_fecha
indicador               dimension           valor_dimension municipio anyo
Gasto por turista       Edad                De 16 a 44 años Adeje     2018    20210331.0
                                                                      2019    20210331.0
                                                                      2020    20210331.0
                                                                      2021    20210331.0
                                                            Antigua   2018    20210331.0
...                                                                                  ...
Gasto por turista y día Tipo de alojamiento Total           Tías      2021    20210331.0
                                                            Yaiza     2018    20210331.0
                                                                      2019    20210331.0
                                                                      2020    20210331.0
                                                                      2021    20210331.0

[4576 rows x 5 columns]